body, html {
    margin: 0;
    padding: 0;
}
.gray {
    background: gray;
    width: 100vh;
    height: 10vh;
    box-sizing: border-box;
    padding: 10px;
}
.blue-box {
    height: 50px;
    width: 50px;
    background: blue;
}
.text {
    width: 100vh;
    height: 30vh;
}
p {
    font-family: 'Nunito Sans', sans-serif;
}
.blue {
    background: blue;
    width: 100vh;
    height: 15vh;
}
.aqua {
    background: aqua;
    width: 100vh;
    height: 15vh;
}
.seafoam {
    background: palegreen;
    width: 100vh;
    height: 15vh;
}
.urine {
    background: goldenrod;
    width: 100vh;
    height: 15vh;
}
